<% @cashes.each do |cash| %>
	<table class="table table-bordered">
		<thead>
			<th>Data</th>
			<th>Total</th>
		</thead>
		<tbody>
			<tr>
				<td><%= cash.created_at.strftime("%d/%m/%Y") %></td>
				<td><%= number_to_currency cash.total %></td>
			</tr>
		</tbody>
	</table>
<% end %>