<div class="home-bottons">
	<div class="col-lg-3 col-md-3">
		<%= link_to new_client_path do %>
			<div class="btn-home">
				<i class="fa fa-user-plus"></i>
				<p>NOVO CLIENTE</p>
			</div>
		<% end %>
	</div>
	<div class="col-lg-3 col-md-3">
		<%= link_to new_sale_path, data:{confirm: 'Deseja Efetuar uma Nova Venda?'} do %>
			<div class="btn-home">
		 		<i class="fa fa-credit-card"></i>
		 		<p>NOVA VENDA</p>
			</div>
		<% end %>
	</div>
	<div class="col-lg-3 col-md-3">
		<%= link_to new_expense_path do %>
			<div class="btn-home">
				<i class="fa fa-arrow-down"></i>
				<p>NOVA DESPESA</p>
			</div>
		<% end %>
	</div>
	<div class="col-lg-3 col-md-3">
		<%= link_to new_service_sale_path, data:{confirm: 'Deseja Abrir uma Nova O.S?'} do %>
			<div class="btn-home">
				<i class="fa fa-pencil"></i>
				<p>NOVA O.S</p>
			</div>
		<% end %>
	</div>
</div>