<div class="label">
	<span>Resultados</span>
</div>

<%= form_tag expenses_filter_date_path, method: :get do %>
	<div class="nav-right">
		<input type='button' value='Voltar' onclick='history.go(-1)' class="btn btn-default" />
		<%= date_field_tag :begin_date, @begin_date %>
		<%= date_field_tag :end_date, @end_date %>
	</div>	
<% end %>

<%= render 'expenses' %>