<div class="label">
	<span>Selecione a Categorías</span>
</div>

<div class="form-new">
	<% @category = ['celular', 'eletronico', 'peca', 'acessorio'] %>
	<%= form_tag products_report_products_path, method: :get do %>
		<div style="margin-left: 30%;">
			<div class="form-group">
				<%= label_tag :categoria %>
				<%= select_tag :category, options_for_select(@category) %>
			</div>
			<div class="form-group  ">
				<%= button_to 'Gerar Relatório', nil, class: 'btn btn-success' %>
			</div>
		</div>
	<% end %>
</div>
