<div class="label">
	<span>Inventario</span>
</div>
	
<span style="margin-bottom: 1em; float: right;"><%= link_to (image_tag 'imprimir.png', :width => '40px', :height => '40px'), "inventory.pdf" %></span>

<%= render 'products' %>