<div class="label">
	<span>Inventario</span>
</div>
	
<span style="margin-bottom: 1em; float: right;">
	<%= link_to "inventory.pdf" do %>
		<i class="fa fa-print btn-icon"></i>
	<% end %>		
</span>

<%= render 'products' %>