<!DOCTYPE html>
<html>
<head>
	<title>Inventario</title>
	<meta charset="utf-8">
	<style type="text/css">
		.table {
			width: 100%;
			border-collapse: collapse;
		}

		.table th {
			border: solid 1px;
		}

		.table td {
			border: solid 1px;
			text-align: center;
		}
	</style>
</head>
<body>
	<h2 align="center">Inventário do Dia</h2>
	<h4 align="center"><%= Time.now.strftime("%d/%m/%Y") %></h4>
	<br><br><br><br>

	<table class="table">
		<thead>
			<th>SKU</th>
			<th>Produto</th>
			<th>Qtde. Estoque</th>
			<th>Contagem</th>
		</thead>
		<tbody>
			<% @products.each do |product| %>
			<tr>
				<td><%= product.sku %></td>
				<td><%= product.name %></td>
				<td><%= product.amount %></td>
				<td></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</body>
</html>